@font-face {
    font-family: gameboy;
    src: url(fonts/GameBoy.ttf);
}

body {
    /*background: #1D412D;*/
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #1D412D;
    background: url('images/arena/arena3-791-480.png') no-repeat;
    background-size: cover;
    background-position: center bottom;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.game-container {
    height: 100vh;
    width: auto;
    width: 500px;
    /* background-color: #1D412D; */
}

.gameboy {
    /* border with dark corners */
    font-family: gameboy;
    background-color: #D6E894;
    color: #1D412D;
    border: 12px solid transparent;
    margin: 0;
    padding: 0;
    -webkit-border-image: url(images/border_gb_dark.png) 12 round;
    /* Safari 3.1-5 */
    -o-border-image: url(images/border_gb_dark.png) 12 round;
    /* Opera 11-12.1 */
    border-image: url(images/border_gb_dark.png) 12 round;
}

.gamegirl {
    /* border with clear corners */
    font-family: gameboy;
    background-color: #D6E894;
    color: #1D412D;
    border: 12px solid transparent;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    -webkit-border-image: url(images/border_gb.png) 12 round;
    /* Safari 3.1-5 */
    -o-border-image: url(images/border_gb.png) 12 round;
    /* Opera 11-12.1 */
    border-image: url(images/border_gb.png) 12 round;
}


/* for the intro screen */

body a {
    margin: 0;
    padding: 2px;
    align-self: center;
    height: 1rem;
    text-decoration: none;
}

#matchPlanning {
    height: 4em;
}


/* TEMPORAIRE, a précider */

#arena {
    height: 20em;
    width: auto;
    /* max-width: 30rem; */
}


/* MATCH PAGE */

#match_page {
    color: #7dc53d;
    text-align: center;
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    background: url('images/arena/arena1.png') no-repeat;
    background-size: cover;
    background-position: center bottom;
}

#matchcomment {
    height: 180px;
    padding-top: 10px;
}

.match_img {
    top: 0px;
    display: flex;
    justify-content: space-around;
    height: 50%;
}

.dog {
    z-index: 1;
    height: 100px;
    width: 140px;
    display: flex;
    justify-content: center;
}

#dog1 {
    /* background-image: url("images/dogs/douglas.png"); */
    animation: sprite .5s steps(3) infinite;
}

#dog2 {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    /* background-image: url("images/dogs/pi.png"); */
    animation: sprite .5s steps(3) infinite;
}

@keyframes sprite {
    100% {
        background-position: -420px;
    }
}

.explosion {
    align-self: flex-end;
    z-index: 2;
    width: 80px;
    height: 80px;
    /* background-image: url("images/explosion.png"); */
    /* display: none; */
}

.run-animation {
    animation: hitt .5s steps(3) 1;
}

@keyframes hitt {
    100% {
        background-position: -240px;
    }
}


/* Pools screeen */

#pool_page {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;
}

#pool_container {
    /* display: none; */
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}

.pool {
    margin: 0 2px;
    padding: 0;
    width: 25%;
}

.pool h3,
.pool ul,
.pool li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.pool h3 {
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
}

.pool ul,
.pool li {
    border: 2px solid #1D412D;
    font-size: 0.7rem;
}

.pool li:hover,
.active {
    background-color: #7DC53D;
}

.inactive {
    background-color: #53823E;
}


/* demi-finals in pool screen */

#demis-container {
    font-size: 0.9rem;
    padding: 1px 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.demi {
    align-self: center;
    margin: 0 0 0 10px;
    border: 4px solid #1D412D;
    text-align: center;
    background-color: #53823E;
}

.demi:hover {
    background-color: #7DC53D;
}


/* final in pool screen */

#final-container {
    display: none;
    font-size: 2rem;
    text-align: center;
    padding-top: 20px;
}

.final {
    display: inline-block;
    text-align: center;
    padding: 8px;
    border: 2px solid #1D412D;
    background-color: #53823E;
}

.final:hover {
    background-color: #7DC53D;
}


/* the clickable class is to shov that the
match is now clickable*/

.clickable {
    background-color: #D6E894;
}

.clickable:hover {
    background-color: #7DC53D;
}

#stats {
    display: none;
}


/* BET PAGE */

#bets_page {
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}

#betJournal {
    /* here find a way to hide the scrolling bar */
    height: 18rem;
    font-size: 0.8rem;
}

#winning {
    position: absolute;
    bottom: -10px;
    font-size: 0.8rem;
    width: 95%;
    height: 1rem;
}


/* STATS PAGE */

#stats_page {
    font-size: 0.8rem;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

#stats_container {
    margin: 0;
    padding: 2% 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

#stats_container p {
    border: 2px solid #1D412D;
    margin: 0 2px;
    padding: 2px;
    text-align: center;
}

.dogs_list {
    margin: 0;
    padding: 5px 0 0 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
}

.dogs_list li {
    border: 2px solid #1D412D;
    height: 2rem;
    margin: 5px 2px;
    padding: 2px;
    text-align: center;
}

.dogs_list li:hover,
#stats_container p:hover {
    background-color: #7DC53D;
}

#statGraph {
    display: none;
}


/* Stats modals */

.dogmodal {
    position: relative;
    z-index: 3;
    height: 300px;
    top: -200px;
    text-align: left;
}

.dog-portrait {
    background-color: #53823e;
    float: left;
    z-index: 3;
    margin: 0 5px 0 0;
    height: 100px;
    width: 140px;
    display: flex;
    justify-content: center;
}

.close {
    position: absolute;
    bottom: 0;
    right: 5px;
    z-index: 6;
}

#graph {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
}


/* screen selectors */

#selector,
#selector ul,
#selector li {
    margin: 0;
    padding: 0;
}

#selector {
    background-color: #1D412D;
    height: 3vh;
}

#selector ul {
    list-style-type: none;
    position: relative;
    height: 22px;
}

#selector li {
    width: 25%;
    text-align: center;
    position: absolute;
    /* Will have to adapt the image in media queries*/
    background-image: url('images/selector_2.png');
    background-size: cover;
    background-position: center;
}

.togglebtn {
    top: -1px;
    cursor: default;
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */
}

#togglebtn_1 {
    /*top: -1px;*/
    /*left: -4px;*/
}

#togglebtn_2 {
    left: 25%;
}

#togglebtn_3 {
    left: 50%;
}

#togglebtn_4 {
    left: 75%;
}


/* CONTROLLER */

#controller {
    height: 32vh;
}


/* i will supress this later, for now,
it helps the javascript goes*/

#currentBetMatch {
    margin: 0;
    padding: 0 0 5px 0;
    text-align: center;
}

.currentBet {
    margin: 5px 0;
    padding: 0 10px;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-around;
    align-items: center;
}

.betdog {
    display: inline-block;
    margin: 0;
    padding: 2px;
    border: 2px solid #1D412D;
}

.betdog:hover,
.betdog:active,
.betdog:focus {
    background-color: #7dc53d;
}

.active {
    background-color: #7DC53D;
}

.betdog p {
    margin: 0;
    padding: 0;
    text-align: center;
}

.betbtns {
    display: none;
    justify-content: space-between;
    max-height: 72px;
    overflow: hidden;
}

.button {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

button {
    font-family: gameboy;
    font-size: 1em;
    width: 70px;
    height: 52px;
    margin: 5px 0 0 0;
    padding: 0;
    text-align: center;
    color: #1D412D;
    border: none;
    text-decoration: none;
    background-color: #D6E894;
    background-image: url('images/matchbtn_gb_inactive.png');
    background-size: cover;
    background-position: center;
}

button:active {
    background-image: url('images/matchbtn_gb_active.png');
    /* This is to change the text along with the image.*/
    padding: 4px 0 0 2px;
}

#money {
    margin: 10px 0 0 0;
    padding: 0;
}

.matchbtns {
    display: none;
    flex-direction: row;
    justify-content: space-around;
}

#console,
#consoleBet {
    display: none;
}

input[type=range].styledrange {
    -webkit-appearance: none;
    width: 99%;
    margin: 4px 0;
}

input[type=range].styledrange:focus {
    outline: none;
}

input[type=range].styledrange::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #ffb2df, 0px 0px 0px #ffccea;
    background: #1d412d;
    border-radius: 25px;
    border: 2.3px solid #53823e;
}

input[type=range].styledrange::-webkit-slider-thumb {
    box-shadow: 2px 2px 0px #1d412d, 0px 0px 2px #255339;
    border: 4px solid #7dc53d;
    height: 16px;
    width: 30px;
    border-radius: 12px;
    background: #53823e;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6.3px;
}

input[type=range].styledrange:focus::-webkit-slider-runnable-track {
    background: #1f452f;
}

input[type=range].styledrange::-moz-range-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #ffb2df, 0px 0px 0px #ffccea;
    background: #1d412d;
    border-radius: 25px;
    border: 2.3px solid #53823e;
}

input[type=range].styledrange::-moz-range-thumb {
    box-shadow: 2px 2px 0px #1d412d, 0px 0px 2px #255339;
    border: 4px solid #7dc53d;
    height: 16px;
    width: 30px;
    border-radius: 12px;
    background: #53823e;
    cursor: pointer;
}

input[type=range].styledrange::-ms-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range].styledrange::-ms-fill-lower {
    background: #1b3d2b;
    border: 2.3px solid #53823e;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #ffb2df, 0px 0px 0px #ffccea;
}

input[type=range].styledrange::-ms-fill-upper {
    background: #1d412d;
    border: 2.3px solid #53823e;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #ffb2df, 0px 0px 0px #ffccea;
}

input[type=range].styledrange::-ms-thumb {
    box-shadow: 2px 2px 0px #1d412d, 0px 0px 2px #255339;
    border: 4px solid #7dc53d;
    height: 16px;
    width: 30px;
    border-radius: 12px;
    background: #53823e;
    cursor: pointer;
    height: 8px;
}

input[type=range].styledrange:focus::-ms-fill-lower {
    background: #1d412d;
}

input[type=range].styledrange:focus::-ms-fill-upper {
    background: #1f452f;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}


/* Desktops ------------------ */

@media only screen and (min-width: 1201px) {
    /* Add Your CSS Styling Here */
}


/* Old Desktops and laptops ------------------ */

@media only screen and (min-width: 1025px) {
    /* Add Your CSS Styling Here */
}


/* Tablets (landscape) ------------------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    /* Add Your CSS Styling Here */
}


/* Tablets (portrait) -------------------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    /* Add Your CSS Styling Here */
    #matchPlanning {
        font-size: 1em;
        height: 4em;
    }
    .game-container {
        width: 768px;
    }
    #arena {
        height: 32em;
        width: auto;
    }
    #matchcomment {
        font-size: 1em;
    }
    .match_img {
        position: absolute;
        top: 55%;
        margin-left: 25%;
    }
    .pool h3,
    #demis-container {
        font-size: 1rem;
    }
    .pool ul,
    .pool li {
        font-size: 1rem;
    }
    .final {
        font-size: 2em;
    }
    #betJournal {
        font-size: 1rem;
        height: 32em;
        padding-left: 5px;
        margin: 2px;
        padding: 0;
    }
    #winning {
        bottom: 0;
        width: 93%;
        font-size: 1rem;
    }
    #stats_page li,
    #stats_page p {
        font-size: 1em;
    }
    #stats_page p {
        height: 2em;
    }
    .dogs_list li {
        height: 3em;
        margin: 2px 2px;
        padding: 2px;
        text-align: center;
    }
    .dogmodal {
        font-size: 1em;
    }
    .dog-portrait {
        height: 100px;
        width: 140px;
    }
    #selector li {
        font-size: 1rem;
    }
    #controller {
        height: 40vh;
    }
    #currentBetMatch,
    .currentBet,
    .betdog,
    .betbog p,
    #currentMoneyBet,
    #betdogname,
    #money {
        font-size: 1rem;
        margin: 0;
    }
    button {
        font-size: 1rem;
        margin-bottom: 2px;
        margin-top: 0;
    }
}


/* Smartphones (landscape) ---------------- */

@media only screen and (min-width: 321px) and (max-width: 767px) {
    /* Add Your CSS Styling Here */
    #matchPlanning {
        font-size: 0.8em;
        height: 4em;
    }
    .game-container {
        width: 375px;
    }
    #arena {
        height: 16em;
        width: auto;
        /* max-width: 30rem; */
    }
    #matchcomment {
        font-size: 0.8em;
    }
    .match_img {
        position: absolute;
        top: 45%;
        margin-left: 10%;
    }
    .pool h3,
    #demis-container {
        font-size: 0.6rem;
    }
    .pool ul,
    .pool li {
        font-size: 0.5rem;
    }
    .final {
        font-size: 0.8em;
    }
    #betJournal {
        font-size: 0.6rem;
        height: 28em;
        padding-left: 2px;
        margin: 0;
        padding: 0;
    }
    #winning {
        bottom: 0;
        width: 93%;
        font-size: 0.8rem;
    }
    #stats_page li,
    #stats_page p {
        font-size: 0.7em;
    }
    #stats_page p {
        height: 2em;
    }
    .dogs_list li {
        height: 3em;
        margin: 2px 2px;
        padding: 2px;
        text-align: center;
    }
    .dogmodal {
        font-size: 0.7em;
    }
    .dog-portrait {
        height: 80px;
        width: 120px;
    }
    #selector li {
        font-size: 0.8rem;
    }
    #controller {
        height: 29vh;
    }
    #currentBetMatch,
    .currentBet,
    .betdog,
    .betbog p,
    #currentMoneyBet,
    #betdogname,
    #money {
        font-size: 0.8rem;
        margin: 0;
    }
    button {
        font-size: 0.8rem;
        margin-bottom: 2px;
        margin-top: 0;
    }
}


/* Smartphones (portrait) ---------------- */

@media only screen and (max-width: 320px) {
    /* Add Your CSS Styling Here */
    #matchPlanning {
        font-size: 0.6em;
        height: 4em;
    }
    .game-container {
        width: 320px;
    }
    #arena {
        height: 16em;
        width: auto;
        /* max-width: 30rem; */
    }
    #matchcomment {
        font-size: 0.8em;
    }
    .match_img {
        position: absolute;
        top: 45%;
        margin-left: 7px;
        margin-right: 7px;
    }
    .pool h3,
    #demis-container {
        font-size: 0.6rem;
    }
    .pool ul,
    .pool li {
        font-size: 0.5rem;
    }
    .final {
        font-size: 0.8em;
    }
    #betJournal {
        font-size: 0.6rem;
        height: 25em;
        padding-left: 2px;
    }
    #winning {
        bottom: 0;
        width: 92%;
        font-size: 0.8rem;
    }
    #stats_page li,
    #stats_page p {
        font-size: 0.6em;
    }
    .dogs_list li {
        height: 3em;
        margin: 2px 2px;
        padding: 2px;
        text-align: center;
    }
    .dogmodal {
        font-size: 0.6em;
    }
    .dog-portrait {
        height: 80px;
        width: 120px;
    }
    #selector li {
        font-size: 0.8rem;
    }
    #controller {
        height: 28vh;
    }
    #currentBetMatch,
    .currentBet,
    .betdog,
    .betbog p,
    #currentMoneyBet,
    #betdogname,
    #money {
        font-size: 0.8rem;
        margin: 0;
    }
    #range-subtitle {
        float: left;
        width: 50%;
    }
    button {
        font-size: 0.8rem;
        width: 56px;
        height: 42px;
        margin-bottom: 2px;
        margin-top: 0;
    }
}